<div 
  class="d-flex flex-column justify-content-center align-items-center" 
  style="height: 100vh;"
>
  <div class="card shadow" style="width: 95%;">
    <div class="card-body">
      <div class="card-title">
        <h1 class="mb-4">Delete this comment permanently?</h1>

        <div class="d-flex justify-content-around">
         
          <%= button_to "YES", user_post_comment_path(@post.user_id, @post.id, @comment.id), 
            method: :delete, data: {turbo: false}, 
            class: "btn btn-danger",
            style: "padding-left: 0.75em; padding-right: 0.75em; width: 150px" 
          %>
          <%= button_to "NO", user_post_path(@post.user_id, @post.id), 
            method: :get, data: {turbo: false}, 
            class: "btn btn-danger",
            style: "padding-left: 0.75em; padding-right: 0.75em; width: 150px" 
          %>
        </div>

      </div>
    </div>   
  </div>
</div>