<nav class="navbar navbar-expand-lg navbar-dark bg-danger">
  <div class="container-fluid">
    <a class="navbar-brand fw-bold" href="#">RUBYWORLD</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDarkDropdown" aria-controls="navbarNavDarkDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Dropdown
          </a>
          <ul class="dropdown-menu dropdown-menu-dark">
            <% if user_signed_in?%>
              <li>
                <%= link_to "Sign Out", 
                destroy_user_session_path, 
                class: "dropdown-item", 
                data: { turbo_method: :delete }  %>
              </li>
            <% else %>
              <li>
                <%= link_to "Sign In", 
                new_user_session_path, 
                class: "dropdown-item" %>
              </li>
            <% end %>
            <li><a class="dropdown-item" href="#">Recent posts</a></li>
            <li><a class="dropdown-item" href="#">Users</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>