.post-card {
  background-color: white;
  border-radius: 1em;
}

.post-card:hover {
  background-color: #DC3545;
  color: black;
}

.post-card h1 {
  color: #DC3545;
}

.post-card:hover h1 {
  color: black;
}

.recent-post {
  border: 2px solid #DC3545;
}

.recent-post:hover {
  background-color: #DC3545;
}

.recent-post p {
  color: #DC3545;
}

.recent-post:hover p {
  color: black;
}
