.post-card {
  background-color: white;
  border-radius: 1em;
}

.post-card:hover {
  background-color: #DC3545;
  color: black;
}

.post-card h1 {
  color: #DC3545;
}

.post-card:hover h1 {
  color: black;
}

.user {
  font-weight: bold;
  color: #DC3545;
  font-style: italic;
}

.post-card:hover .user {
  color: black;
}


.par {
  color: #DC3545;
  font-weight: bold;
}

.post-card:hover .par {
  color: black;
}

.recent-post {
  border: 2px solid #DC3545;
}

.recent-post:hover {
  background-color: #DC3545;
}

.recent-post p {
  color: #DC3545;
}

.recent-post:hover p {
  color: black;
}

.post-card:hover p {
  color: black;
}

@keyframes fadeout {
  0%{ opacity: 0;}
  100%{ opacity: 1;} 
}

.devise-cont {
  animation: fadeout 5s;
  animation-iteration-count: 1;
  text-align: center;
}

.card {
  width: 100%;
}

.card h1 {
  font-size: 3.25em;
}

.home-btn {
  width: 94vw;
  font-size: 2em;
  padding: 0.5em;
  margin: 0.15em;
}

.button_to {
  display: flex;
  justify-content: center;
}

#sign-in-background,
#sign-up-background,
#forgot-password,
#resend-confirmation {
  background-image: url("./sign_in.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.avatar {
  width: 150px; 
  height: auto;
}

.avatar-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 220px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header,
.bio,
.recent-post-cont,
.recent-post {
  padding: 1.5em;
}

.post-card {
  width: 70vw;
}

.right-name {
  font-size: 3em;
}

.right-counter {
  font-size: 2em;
}

.all-post-btn {
  width: 375px;
}

.create-post-btn {
  width: 375px;
}

.posts-container {
  height: 100vh;
}

.main-post {
  width: 90vw;
  padding: 1.5em;
}

.post-text {
  font-size: 1.2em;
}

.comment-text {
  font-size: 1.1em;
}

@media all and (min-width: 576px) {
  .avatar-card {
    display: flex;
    justify-content: space-around;
    height: 200px;
  }
}


@media all and (min-width: 768px) {
  .card {
    width: 60vw;
  }

  .home-btn-container {
    display: flex;
  }

  .home-btn {
    width: 98%;
    margin: 0.25em;
  }

  .home-btn h2 {
    font-size: 0.75em;
  }

  .header {
    justify-content: space-around;
  }

  .post-card {
    width: 50vw;
  }

  .post-card-cont {
    width: 70vw;
  }
  
  .user-container {
    margin: 3em;
  }

  .no-comments {
    font-size: 1.5em;
  }

  .main-post {
    width: 65vw;
    padding: 3em;
  }
}

@media all and (min-width: 992px) {
  .user-container {
    width: 85vw;
  }

  .home-btn-container {
    display: flex;
    flex-wrap: wrap;
  }

  .home-btn {
    min-width: 40vw;
    margin: 0.25em;
  }

  .home-btn h2 {
    font-size: 0.75em;
  }

  .avatar {
    width: 200px; 
    height: auto;
  }

  .header,
  .bio,
  .recent-post-cont {
    padding: 3.5em;
  }

  .avatar-card {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 250px;
  }

  .user-data p {
    font-size: 1.5em;
  }

  .all-post-btn,
  .create-post-btn {
    width: 82vw;
  }

  .bio p {
    font-size: 1.5em;
  }

  .main-post {
    width: 45vw;
    padding: 3em;
  }

  .post-text {
    font-size: 1.5em;
  }

  .comment-text {
    font-size: 1.3em;
  }
}

@media all and (min-width: 1400px) {
  .card {
    width: 40vw;
  }

  .user-container {
    width: 60vw;
  }

  .recent-post {
    padding: 4em;
  }

  .recent-post h5 {
    margin-bottom: 1em;
  }

  .home-btn {
    min-width: 23vw;
    margin: 0.25em;
  }

  .user-container {
    width: 50%;
  }

  .all-post-btn,
  .create-post-btn {
    width: 48vw;
  }

  .header {
    justify-content: space-around;
  }

  .navbar {
    height: 4em;
    padding-left: 15em;
  }
  .main-post {
    width: 50vw;
    padding: 3em;
  }
}
