.post-card {
  background-color: white;
  border-radius: 1em;
}

.post-card:hover {
  background-color: #DC3545;
  color: black;
}

.post-card h1 {
  color: #DC3545;
}

.post-card:hover h1 {
  color: black;
}

.user {
  font-weight: bold;
  color: #DC3545;
  font-style: italic;
}

.post-card:hover .user {
  color: black;
}


.par {
  color: #DC3545;
  font-weight: bold;
}

.post-card:hover .par {
  color: black;
}

.recent-post {
  border: 2px solid #DC3545;
}

.recent-post:hover {
  background-color: #DC3545;
}

.recent-post p {
  color: #DC3545;
}

.recent-post:hover p {
  color: black;
}

.post-card:hover p {
  color: black;
}

@keyframes fadeout {
  0%{ opacity: 0;}
  100%{ opacity: 1;} 
}

.devise-cont {
  animation: fadeout 5s;
  animation-iteration-count: 1;
  text-align: center;
}
